name: Java Build, Lint and Test

on:
    push:
        branches:
          - master
    pull_request:
        types: [opened, reopened, synchronize]

jobs:
    build-test-lint:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Xero-Java repo
              uses: actions/checkout@v4
              with:
                path: Xero-Java

            - name: Set up JDK environment
              uses: actions/setup-java@v4
              with: 
                distribution: 'temurin'
                java-version: '11'
                cache: maven

            - name: Set up Node environment
              uses: actions/setup-node@v2
              with:
                node-version: 20
  
            - name: Install Prism
              run: npm install -g @stoplight/prism-cli
  
            - name: Start PRISM Server
              run: ./start-prism.sh feature/prism-changes-mt-v2 & sleep 15
              working-directory: Xero-Java/src/test/java/com/xero/api/util
  
            - name: Build and test post generation
              run: |
                mvn clean verify -Dgpg.skip
              working-directory: Xero-Java
